
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" ng-click="cancel()">&times;</button>
      <h4>Error en la conexión</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-danger">
        <i class="icon-remove-sign"></i>
        Ha ocurrido un error en la aplicación.</div>
      <p>Comprueba que sigues conectado correctamente a Internet y prueba
        de nuevo.</p>
      <p>Si el error persiste puedes probar a
        <a href="javascript:location.reload();">recargar la página</a>.</p>
    </div>
    <div class="modal-footer">
      <button class="btn-flat" ng-click="cancel()">
        <i class="icon-remove"></i>
        Cerrar
      </button>
    </div>
  </div>
</div>
