
$right: 10px;
$left: $right;
$top: 25px;
$bottom: $top;


.notifications {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 9999;

  > div {
    position: relative;
    margin: 5px 0px;
    float: right;
    clear: both;
  }

  .close {
    margin-left: 5px;
    margin-top: -8px;
    padding: 5px;
    padding-bottom: 0;
  }
}
